.description{
    background-color: white;
    margin-top: 30px;
}

h1{
    color: #57BFA7;
}



.main_body{
    background-color: #F1F1EC;
}

#main_fig{
    float: left;
    width: 300px;
    height: 300px;
}

.navbar-brand {
    background-color: #57BFA7;
    position: absolute;
    height: 100%;
    left: 100px;
    text-align: center;
    margin: auto;
}

.navbar-light .navbar-brand{
    color: white;
    font-size: 30px;
}

.nav_link{
    color: black   
}

.small_br{   
    display: block;
    margin: 2px 0;    
}