body{
    background-color: #F1F1EC;
}

.description{
    background-color: white;
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px
}

.description2{
    background-color: white;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px
}

.description3{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 10px
}

#fig{
    width: 600px;
    height: 400px;

}
.figure{
    width: 110px;
    height: 110px;
}

.figure_c{
    position: relative;
    width: 400px;
    height: 300px;
    left: 10%;
}

h1{
    color: #2BBBAD;
    font-family: "Times New Roman", Times, serif;
}

h2{
    color: #2BBBAD;
    font-family: "Times New Roman", Times, serif;
}

h3{
    color: #2BBBAD;
    font-family: "Times New Roman", Times, serif;
}

#main_fig{
    float: left;
    width: 200px;
    height: 200px;
}

.navbar-brand{
    background-color: #2BBBAD;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    height: 60px;
    left: 60px;
    top: 0px;
    text-align: center;
    margin: auto;
}

.navbar-light .navbar-brand{
    color: white;
    font-size: 30px;  
}

.navbar-toggle {
    position: absolute;
    right: 20px;
    z-index:3;
}

.nav_link{
    color: black   
}

p{
    margin: 10px;
    margin-bottom: 10px;
}
.small_br{   
    display: block;
    margin: 2px 0;    
}